<% include ../partials/header %>
<div class="row">
    <div class="col-md-3">
        <p class="lead">Voting App</p>
        <div class="list-group">
            <li class="list-group-item active"> Info 1</li>
            <li class="list-group-item"> Info 2</li>
            <li class="list-group-item"> Info 3</li>
        </div>
    </div>
    <div class="col-md-9">
        <h4><%= poll.name %></h4>
            <div class="thumbnail">
                <div class="caption">
                    <canvas id="myChart" width="800" height="800" data='{"name":"<%= poll.name %>", "options": [<%= poll.options %>], "votes": [<%= poll.votes %>] }'></canvas>
                </div>
            </div>
            <div>
             <% poll.options.forEach(option => { %>
                <button class="btn btn-primary" onClick={sendData(this.innerText)} type="submit"> <%= option %> </button>
             <% }) %>
            </div>
        <p>
            <em>Submitted by: <a href='/users/<%= poll.author.id %>'> <%= poll.author.username %> </a> </em>
        </p>
        <% if(currentUser && (poll.author.id.equals(currentUser._id))){ %>
        <a class="btn btn-warning" href='/polls/<%= poll._id%>/edit'>Edit</a>
        <form class="deleteForm" action="/polls/<%= poll._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
        <% } %>
    </div>
</div>
<script>
function sendData(option){
    var chart = document.getElementById('myChart')
    var {name, options, votes} = JSON.parse(chart.getAttribute('data'))
    var index = -1;
    options.forEach(e => {
        if(e == option){//no guarantee types will be the same
            index = options.indexOf(e)
        }
    })

    votes[index]++
    $.post(window.location.href, {votes}, () => document.location.reload())

}
window.chartColors = {
    red: 'rgb(255, 99, 132)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	green: 'rgb(75, 192, 192)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(201, 203, 207)'
}

window.onload = function(){
        var {red, orange, yellow, green, blue, purple, grey} = window.chartColors
        var chart = document.getElementById('myChart')
        console.log("Chart:", chart)
        const {name, options, votes} = JSON.parse(chart.getAttribute('data'))
        console.log(options)
        const chartConfig = {
            type: 'pie',
            data: {
                datasets:[{
                    data: votes,
                    backgroundColor: [red, orange, yellow, green, blue, purple, grey]
                }],
                labels: options
            },
            options: {
                responsive: true
            }
        }
        Chart.plugins.register({
            beforeInit: function(chart) {
                var data = chart.data.datasets[0].data;
                var isAllZero = data.reduce((a, b) => a + b) > 0 ? false : true;
                if (!isAllZero) return;
                // when all data values are zero...
                chart.data.datasets[0].data = data.map((e, i) => i > 0 ? 0 : 1); //add one segment
                chart.data.datasets[0].backgroundColor = '#d2dee2'; //change bg color
                chart.data.datasets[0].borderWidth = 0; //no border
                chart.options.tooltips = false; //disable tooltips
                chart.options.legend.onClick = null; //disable legend click
            }
        });
        new Chart(chart.getContext('2d'), chartConfig)
}
</script>
<% include ../partials/footer %>